.pay_container{
  margin: auto;
  margin-top: 80px;
}
.personal{
  display: flex;
  margin-top: 20px;
}
.inpLast{
  margin-left: 10px;
  border-radius: 15px 0px 15px 15px;
  width: 378px;
}
.inpFirst{
  border-radius: 15px 0px 15px 15px;
  width: 378px;
}
.inp_email{
  border-radius: 15px 0px 15px 15px;
}
.inp_cardno{
  border-radius: 15px 0px 15px 15px;
}
.personal1{
  display: flex;
}
.personal1_child_1{
  border-radius: 15px 0px 15px 15px; 
  width:240px;
}
.div_2_3{
  margin-left: 23px;
}
.personal1_child_2_3{
  border-radius: 15px 0px 15px 15px; 
  width: 240px;
}